In [ ]:
print("hello")

hello

In [ ]:
#first line
print("welcome")

welcome

#data types in python
#int
#float
#string
#boolean

In [ ]:
#initializing an integer variables
x=10

In [ ]:
#checking the type of data or variable
type(x)

int

In [ ]:
x=20

In [ ]:
x

20

In [ ]:
#float data type
bandwidth=345.7

In [ ]:
bandwidth

345.7

In [ ]:
type(bandwidth)

float

In [ ]:
#string Data type
#collection of letters
name="Tom Liam"

In [ ]:
type(name)

str

In [ ]:
#Boolean Data Type
result=True

In [ ]:
type(result)

bool

In [ ]:
#this is my first line of comment
print("Ashish")#ashish si my first name

Ashish

In [ ]:
#basic operation in python
#adding two interger values
a=10
b=20

In [ ]:
a+b

30

In [ ]:
#calculating the bandwidth
amount_of_data=123124
time=1.5
bandwidth_1=(amount_of_data/time)

In [ ]:
bandwidth_1

82082.66666666667

In [ ]:
salary='2345678'#string data type

In [ ]:
type(salary)

str

In [ ]:
update_salary=int(salary)#we have converted the string data type to int data type using the
                         #concept of type casting

In [ ]:
update_salary

2345678

In [ ]:
type(update_salary)

int

In [ ]:
#create a variable age in int format and create a new variable called updated_age which is string
#type using type casting

In [ ]:
company='Maxis'
new_company=int(company)

ValueError: invalid literal for int() with base 10: 'Maxis'