In [2]:
print("hello")

hello

In [3]:
#first line
print("welcome")

welcome

#data types in python
#int
#float
#string
#boolean

In [4]:
#initializing an integer variables
x=10

In [5]:
#checking the type of data or variable
type(x)

int

In [6]:
x=20

In [7]:
x

20

In [8]:
#float data type 
bandwidth=345.7

In [9]:
bandwidth

345.7

In [10]:
type(bandwidth)

float

In [11]:
#string Data type 
#collection of letters 
name="Tom Liam"

In [12]:
type(name)

str

In [13]:
#Boolean Data Type
result=True

In [14]:
type(result)

bool

In [15]:
#this is my first line of comment
print("Ashish")#ashish si my first name

Ashish

In [16]:
#basic operation in python 
#adding two interger values
a=10
b=20

In [17]:
a+b

30

In [21]:
#calculating the bandwidth
amount_of_data=123124
time=1.5
bandwidth_1=(amount_of_data/time)

In [22]:
bandwidth_1

82082.66666666667

In [23]:
salary='2345678'#string data type

In [25]:
type(salary)

str

In [26]:
update_salary=int(salary)#we have converted the string data type to int data type using the 
                         #concept of type casting

In [27]:
update_salary

2345678

In [28]:
type(update_salary)

int

In [ ]:
#create a variable age in int format and create a new variable called updated_age which is string 
#type using type casting

In [29]:
company='Maxis'
new_company=int(company)

ValueError: invalid literal for int() with base 10: 'Maxis'

#data structure
#way to store data in python 
#list
#dictionary
#tuple
#set

In [30]:
#creating first list
l1=[1,2,3,"hello",56.8,True,False]

In [31]:
type(l1)

list

In [50]:
#using constructor create a list 
employee=list(('Tom','jerry','Andy','Bob'))

In [33]:
type(employee)

list

In [34]:
#indexing in python and access the element 
l1[3]#3 is the index position

'hello'

In [35]:
#counting the elements in the list 
salary=[34325,23534,5465642,6456,453456464,452345456,5,75434554,65]
len(salary)

9

In [36]:
#range of index to fetch elements 
salary[2:5]#the range works for only end-1 index position

[5465642, 6456, 453456464]

In [37]:
employee

['Tom', 'jerry', 'andy', 'bob']

In [38]:
#update an element in the list
employee[1]='sam'

In [39]:
employee

['Tom', 'sam', 'andy', 'bob']

In [40]:
#addding an element at the end of the list 
employee.append('Hello')

In [41]:
employee

['Tom', 'sam', 'andy', 'bob', 'Hello']

In [42]:
#adding a value at index position
employee.insert(3,"welcome")

In [43]:
employee

['Tom', 'sam', 'andy', 'welcome', 'bob', 'Hello']

In [44]:
employee.remove('welcome')

In [45]:
employee

['Tom', 'sam', 'andy', 'bob', 'Hello']

In [51]:
#extending a list 
new_employee=['John','Mika','Rob','Emily']
employee.extend(new_employee)

In [52]:
employee

['Tom', 'jerry', 'Andy', 'Bob', 'John', 'Mika', 'Rob', 'Emily']

In [53]:
#sorting the list 
employee.sort()

In [54]:
employee

['Andy', 'Bob', 'Emily', 'John', 'Mika', 'Rob', 'Tom', 'jerry']

In [56]:
l3=[1,2,3,4,5]
l4=[9,8,6,6,5,4,3,3]

In [57]:
l5=l3+l4

In [58]:
l5

[1, 2, 3, 4, 5, 9, 8, 6, 6, 5, 4, 3, 3]

In [ ]:
###########################  Dictionary #############################

In [59]:
customers={'Tom':12,'Bob':13,'Andy':14,17:'Tom'}

In [60]:
type(customers)

dict

In [61]:
#fecting a value from dictionary
#we use key to fetch value from dictionary
customers['Bob']

13

In [62]:
customers.get(('Andy'))

14

In [64]:
#using constructor 
emp_salary=dict([('sam',2342),('vicky',3542),('john',46546)])

In [65]:
type(emp_salary)

dict

In [66]:
#deleting a value from dictionary
del emp_salary['sam']

In [67]:
emp_salary

{'vicky': 3542, 'john': 46546}

In [68]:
customers

{'Tom': 12, 'Bob': 13, 'Andy': 14, 17: 'Tom'}

In [69]:
#poping a key from dictionary
old_customers=customers.pop('Andy')

In [70]:
customers

{'Tom': 12, 'Bob': 13, 17: 'Tom'}

In [71]:
old_customers

14

In [72]:
keys=list(customers.keys())
print(keys)

['Tom', 'Bob', 17]

In [73]:
values=list(customers.values())
print(values)

[12, 13, 'Tom']

In [74]:
new_customer={'hulk':5}

In [75]:
#updating a dicitonary
customers.update(new_customer)

In [76]:
customers

{'Tom': 12, 'Bob': 13, 17: 'Tom', 'hulk': 5}

In [ ]:
############################# Tuple ##########################

In [77]:
t1=(1,2,3,'Hello',True,False,67.8)

In [78]:
type(t1)

tuple

In [79]:
len(t1)

7

In [80]:
#creating single element tuple 
t2=('Welcome',)

In [81]:
type(t2)

tuple

In [82]:
t1[3]

'Hello'

In [83]:
t1[3]='maxis'

TypeError: 'tuple' object does not support item assignment

In [84]:
#manipulating a tuple
sites=('north','south','east','west')
x=list(sites)
x.append('central')
sites=tuple(x)
print(sites)

('north', 'south', 'east', 'west', 'central')

In [85]:
#concatenate tuple 
tup1=tuple((1,2,3,4,5,6))
tup2=(9,8,7,6,5,4,3)

In [86]:
tup3=tup1+tup2

In [87]:
tup3

(1, 2, 3, 4, 5, 6, 9, 8, 7, 6, 5, 4, 3)

In [88]:
type(tup3)

tuple

In [89]:
#unpacking a tuple
sites

('north', 'south', 'east', 'west', 'central')

In [95]:
good,*bad,excellent=sites

In [96]:
good

'north'

In [97]:
bad

['south', 'east', 'west']

In [94]:
excellent

['east', 'west', 'central']

In [98]:
sorted(sites)

['central', 'east', 'north', 'south', 'west']

In [ ]:
############################## Set ##########################

In [99]:
s1={1,2,3,True,'hello',9,3,6,2}

In [100]:
s1

{1, 2, 3, 6, 9, 'hello'}

In [101]:
len(s1)

6

In [103]:
#using constructor
s2=set((9,7,5,2,4,5,2,2))

In [104]:
type(s2)

set

In [105]:
#adding a value in set
s2.add('Hello')

In [106]:
s2

{2, 4, 5, 7, 9, 'Hello'}

In [107]:
s2.remove('Hello')

In [108]:
s2

{2, 4, 5, 7, 9}

In [109]:
s2.remove('Hello')

KeyError: 'Hello'

In [110]:
#updating two sets
s1.update(s2)

In [111]:
s1

{1, 2, 3, 4, 5, 6, 7, 9, 'hello'}

In [112]:
s3={2,5,7,8,4,6,7,9,6,2,3}
s4={8,4,2,5,4,2,6,8}

In [113]:
set1=s3.union(s4)

In [114]:
set1

{2, 3, 4, 5, 6, 7, 8, 9}

In [115]:
s3.intersection(s4)

{2, 4, 5, 6, 8}

In [116]:
#difference between set
x={'apple','Banana','cherry'}#we will get only those elements from the fisrt set which are proesent, but not 
y={'google','microsoft','apple'}#which are in y set
z=x.difference(y)
print(z)

{'Banana', 'cherry'}

In [122]:
city={'a','b','c'}
town={'d','a','e','t','f'}

In [119]:
q=city.issubset(town)

In [120]:
q

False

In [123]:
w=town.pop()

't'

In [ ]:
######################## Conditional Statement #####################

In [124]:
# if Statement
x=10
if x<10:
    print("the value is less than 10")#print is said to be body of if statement coz it is inside the if

In [125]:
#importing a library to work on random data
import random

In [132]:
y=random.randint(1,20)

In [131]:
y

16

In [130]:
if y<10:
    print("welcome to the session on python")

In [ ]:
#else-if statement 
if y>10:
    print("the value is greater than 10")
else:
    print("value is smaller")

In [134]:
#taking input from user
bandwidth=float(input("enter the value of bandwidth"))#user input
if bandwidth>10:
    print("the bandwidth is good")
else:
    print("the bandwidth is bad")

enter the value of bandwidth11.2
the bandwidth is good

In [135]:
bandwidth=float(input("enter the value of bandwidth"))#user input
if bandwidth>10:
    print("the bandwidth is good")
elif bandwidth<10:
    print("increase the value of bandwidth")

enter the value of bandwidth9.7
increase the value of bandwidth

In [ ]:
#nested conditional statement 
bandwidth=float(input("enter the value of bandwidth"))#user input
if bandwidth>10:
    print("the bandwidth is good")
elif bandwidth==10:#comparing the value 
    print("signal is perfect")
else:
    print("increase the value of bandwidth")

In [ ]:
######################### Loops in python #########################

In [137]:
#for loop 
site_location=['east','west','north','south','central']
for name in site_location:
    print(name)

east
west
north
south
central

In [139]:
num=int(input("enter the num"))
for i in range(1,11):
    print(num,'x',i,'=',num*i)

enter the num5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [144]:
salary=[231,4245,45,63,452,535,4,62,4,34,52,2345,4542]
for i in salary:
    if i==535:
        break #break is used to terminate the loop
    print("the salary is low")

the salary is low
the salary is low
the salary is low
the salary is low
the salary is low

In [ ]:
Ques- calculate the  sum of first 10 natural numbers using for loop

In [146]:
######################## while loop ##########################
bandwidth=0 #bandwidth is a counter which counts the no of execution of while loop
while bandwidth<10:
    print("ping to the site",bandwidth)
    bandwidth+=1

ping to the site 0
ping to the site 1
ping to the site 2
ping to the site 3
ping to the site 4
ping to the site 5
ping to the site 6
ping to the site 7
ping to the site 8
ping to the site 9

In [147]:
#checking all the no which are divisible by a certain no in a range
i=0
while(i<=50 and i %7!=0):
    i+=1
else:
    if (i%7==0):
        print("the first number is",i)
    else:
        print("no number is divisible by 7")

the first number is 0

In [ ]:
#calculate the sum of first 10 natural numbers using while loop

In [148]:
#continue statement
for i in range(9):
    if i==5:
        continue #we are skipping the value of i here
    print(i)

0
1
2
3
4
6
7
8

In [149]:
#continue with while loop 
i=0
while i<10:
    i+=1
    if i==4:
        continue# skip the value of if condition
    print(i)

1
2
3
5
6
7
8
9
10

In [ ]:
########################### Functions in Python ############################

In [150]:
#function for greet
def greet():
    print("hello")

In [151]:
#calling the function
greet()

hello

In [152]:
#function with parameter
def greet(name):
    print("hello",name)

In [154]:
#call the fucntion with parameter value
greet(5765)

hello 5765

In [155]:
def add():
    a=10
    b=20
    c=a+b
    return c
print("the sum is:",add())#called the function inside the print

the sum is: 30

In [156]:
def add():
    a=10
    b=20
    c=a+b
    
print("the sum is:",add())#called the function inside the print

the sum is: None

In [157]:
#creating a default parameter in function
def cordinate(x,y=10):
    print('cordinates are',x,',',y)

In [158]:
cordinate(7)

cordinates are 7 , 10

In [ ]:
#function to print the name of family members

In [161]:
def iseven(x):
    if x%2==0:
        return True
    else:
        return False

In [162]:
iseven(67)

False

In [163]:
#object for function
def square(x):
    return x*x
x2=square(5)
print('the square of the value is',x2)

the square of the value is 25

In [188]:
#passing the data structure in function 
def squareandcube(y):
    return {'y2':y*y,'y3':y*y*y}
dict1=squareandcube(5)
print('the square is',dict1['y2'])

the square is 25

In [165]:
#lambda function 
cube=lambda x:x*x*x
print(cube(4))

64

In [ ]:
process=lambda func1:print(func1(5))
process(lambda x:x*x)
process(lambda x:x*x*x)

In [166]:
#map in lamda
signals=[103.2,107.4,102.8,106.7]
new_signals=list(map(lambda x:x+3,signals))
print(new_signals)

[106.2, 110.4, 105.8, 109.7]

In [167]:
#reduce in lambda
#the reduce function give a single value of all elements of the iterable
import functools
l1=[1,2,3,4]
print("the sum of list elements is,",end='')
print(functools.reduce(lambda a,b:a+b,l1))

the sum of list elements is,10

In [168]:
#modules in python
def greeting(name):
    print("hello",name)
#to make this code as a module we have to sve this code as a file with proper extension
#to create a module in python write your code in IDLE and save the file with .py extension in the same directory 
#then call this file(module) in jupyter using import method

In [170]:
#calling the module 
import maxis
maxis.greeting("Ashish")

ModuleNotFoundError: No module named 'maxis'

In [169]:
#importing a module in python 
from scipy.stats import stats

/Users/admin/opt/anaconda3/lib/python3.9/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [ ]:
# read and write operation python 
#file access modes
#read only('r')
#read and write('r+')
#write only('w')
#write and read('w+')
#append only('a')
#append and read('a+')

In [178]:
#reading the file 
df1=open("file1.txt","r")

In [179]:
print(df1.read())

"hi, my name is ashish and we are working on different aspects of python"

In [183]:
f=open("file1.txt","a")
f.write("\n also we are learning how to add a line to a file")
f.close()

In [184]:
f=open("file1.txt","r")
print(f.read())

"hi, my name is ashish and we are working on different aspects of python"Today we are learning the file operations in python and working with different file modes
 also we are learning how to add a line to a file

In [182]:
#deleting a file form directory
import os
#os.remove("file1.txt")

In [ ]:
#importing files from other directory
#using copy of the file path 
file1="c:\folder1\folder2\file.csv"

In [186]:
import pandas as pd

In [ ]:
fil2=pd.read_csv("c:/folder1/folder2/file_name.csv")

In [ ]:
#error handling 
#try block
#except block 
#finally

In [192]:
try:
    print(h)
except:
    print("an exception occured")

an exception occured

In [193]:
#syntax error
#type error
#adding a string to number(type error)
#nameerror
Sqaure(5)
#indexError-> when a index is out of range for a list

NameError: name 'Sqaure' is not defined